.navbar{
    background-color: rgba(235, 235, 235, 0.95) !important;
}
.navbar .nav-item a{
    color: rgb(0,0,0) !important;
}
.navbar .dropdown-menu{
    background-color: rgba(242, 118, 49, 0.25);
}
.dropdown-item:hover{
    background-color: rgba(242, 118, 49, 0.75);
}
.btn-primary{
    color: rgb(255,255,255);
    background-color: rgb(242,118,49);
    border-color: rgb(255, 129, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}   
.btn-primary:hover{
    color: rgb(0,0,0);
    background-color: rgb(252, 196, 139);
    border-color: rgb(255, 129, 0)
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);  
}
.btn-primary:active{
    background-color: rgb(242,118,49);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-primary span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-primary span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-primary:hover span{
    padding-right: 15px;
}

.btn:hover span:after{
  opacity: 1;
  right: 0;
}

.KWquestionstyle{
    color: rgb(239, 143, 0);
    font-size: 1em;  
    font-weight: bolder;
}
.KWdisclaimer{
    color: rgba(255,10,10,0.7);
    font-size: 1.3em;
    font-weight: bolder;
}   

.KWscorestyle{
    color: rgba(229, 104, 20);
    font-size: 1.3em;
    font-weight: bolder;
    font-family: 'Abel', Helvetica, Arial, sans-serif;
}
.KWwelcomestyle{
    color: rgba(229, 104, 20);
    font-size: 1.3em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
}
.KWlinkstyle{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
    text-decoration: underline;
}
.KWsupportstyle{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif; 
}  
body{
      background-image: url("NDIS_logo.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-attachment: fixed;
}
  